.Adress{
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:flex-start;
  h2{
    font-size: 42px;
    padding: 10px;
    color: #70544f;
  }
  p{
    padding: 10px;
    color: gray ;
  }
}
.adress__block{
  display: flex;
  justify-content: center;
}
