.footer{
  
  text-align: center;
  h3{
    font-weight: 200;
  }
  ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 14px;
    font-weight: 200;
    li{
      padding: 10px 10px;
    }
  }
  @media screen and(max-width:700px){
    
    padding-top: 20px;
    height: 80px;
    ul{
      font-size: 10px;
      li{
        padding:  4px 10px;
      }
    }
    h3{
      font-size: 14px;
    }
  }
  background-color: $gray-line;
  padding-top: 20px;
  position: fixed;
  bottom: 0px;
  width: 100vw;
  height: 100px;
}
h3,li:hover{
  color: black;
}