#App {
  font-family: sans-serif;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0px;

}
.categoryList{
  background: white;
  border: none;
  margin-top: 10px;
  margin-right: 10px;
  font-size: 14px;
  font-weight: 100;
  color: #5d5d57;
}
.active{
  background: white;
  border: none;
  margin-top: 10px;
  margin-right: 10px;
  font-size: 14px;
  font-weight: 500;
  color: #292926;
}
.sidebarUl{
  margin-top: 1px;
  
}
.sidebarImage{
  width: 130px;
}
/* #page-wrap {
  text-align: center;
  overflow: auto;
  top: 75%;
  position: relative;
} */

.bm-item {
  display: inline-block;
  /* display: block; */
  /* Our sidebar item styling */
  text-decoration: none;
  /* margin-bottom: 40px; */
  color: #d1d1d1;
  transition: color 0.2s;
}

.bm-item:hover {
  color: white;
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 5%;
  top: 5%;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #fff;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  z-index: 60;
  /* font-size: 10px; */
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
